.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0.1);
  padding: 16px 32px;
  border-radius: 4px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao-sub {
  display: inline-block;
  color: var(--cor-p1);
  padding: 10px 0;
  text-decoration: 3px underline;
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link:hover {
  color: var(--cor-p3)
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317)
}

@media(max-width:600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}